:root {
  --color-dark-blue: #364154;
  --color-green: #0f0;
  --color-white: #fff;
}

html,
body {
  --header-height: 50px;
  --footer-height: 150px;

  height: 100%;
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content {
  --header-offset: var(--header-height);

  --handle-size: 40px;
  --handle-radius: 10px;

  --dashboard-height: 70px;
  --dashboard-radius: 15px;      

  --commentary-offset: 0px;
  --commentary-height: var(--commentary-max-offset);
  --commentary-radius: var(--dashboard-radius);
  --commentary-max-offset: 75vh;

  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  transition: padding-top ease 0.3s;
}

.site-header.hidden + .site-content {
  --header-offset: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.site-header {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  z-index: 999;
  top: 0;
  transition: transform 0.3s ease;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  transform: translateY(0);
}

.site-header.hidden {
  transform: translateY(-100%);
}

#toolbar {
	height: 50px;
	text-align: center;
	line-height: 50px;
	flex-shrink: 0; /* Prevent shrinking */
}

.toolbar a {
	font-size: large;
	background-color: transparent;
	color: var(--color-white);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.toolbar a:hover {
	background-color: #fff;
	color: #000;
}

.toolbar a.active {
	background-color: var(--color-blue);
	color: #fff;
}

.map {
  width: 100%;
  height: 100vh;
  transition: height 0.3s ease;
  box-sizing: border-box;
  display: block;
  min-height: 0;
  background: linear-gradient(90deg,#c33,#f66);
}

.site-footer {
  border-top: var(--color-white) 1px solid;
  height: var(--footer-height);
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  color: var(--color-white);
  background: var(--color-dark-blue);
  transition: transform 0.3s ease;
}

.control {
  position: fixed;
  transition: bottom 0.3s ease;
  z-index: 1000;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.dashboard {
  left: 0px;
  right: 0px;
  bottom: var(--commentary-offset);
  transition: bottom 0.3s ease;
  height: var(--dashboard-height);
  border-radius: var(--dashboard-radius) var(--dashboard-radius) 0 0;
  border-bottom: 0;
  display: flex;
}

.dashboard div {
  height: calc(var(--dashboard-height) - 2.0 * var(--dashboard-radius));
  margin: calc(1.0 * var(--dashboard-radius));
}

.dashboard .button {
  aspect-ratio: 1;
  border: var(--color-white) 1px solid;
  border-radius: var(--handle-radius);
}

.dashboard .container {
  flex-grow: 1;
  text-align: center;
}

.handle {
  width: var(--handle-size);
  left: var(--handle-radius);
  top: calc(var(--header-offset) - 2px);
  transition: top 0.3s ease;
  height: var(--handle-size);
  border-radius: 0 0 var(--handle-radius) var(--handle-radius);
}

.site-content.commentary-shown {
  --commentary-offset: var(--commentary-max-offset);
}

.commentary {
  height: var(--commentary-height);
  position: fixed;
  left: 0;
  right: 0;
  top: calc(100vh - var(--commentary-offset));
  transition: top 0.3s ease;
  border-top: var(--color-white) 1px solid;
  overflow-y: auto;
}

.commentary-content {
  min-height: calc(var(--commentary-height) - var(--footer-height));
}

.float-left {
	float: left;
	width: 50%;
	padding: 15px;
}

.float-left img {
	width: 100%;
}

.float-right {
	float: right;
	width: 50%;
	padding: 15px;
}

.float-right img {
	width: 100%;
}
