:root {
	--color-black: #000;
	--color-blue: #3887be;
	--color-green: #0f0;
	--color-white: #fff;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	height: 100vh; /* Full viewport height */
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		"Courier New",
		monospace;
}


/* navigation */
.nav {
	flex: 0 0 50px; /* fixed height */
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.nav :first-child {
	justify-content: flex-start;
}

.nav :last-child {
	justify-content: flex-end;
}

.nav a {
	border: 0;
	background: transparent;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
}

.toolbar a {
	font-size: large;
	background-color: transparent;
	color: var(--color-white);
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.nav a:hover {
	background-color: #fff;
	color: #000;
}

.nav a.active {
	background-color: var(--color-blue);
	color: #fff;
}

.nav .active:hover {
	background: var(--color-blue);
}

/* toolbar */

#toolbar {
	height: 50px;
	background: var(--color-black);
	color: var(--color-white);
	text-align: center;
	line-height: 50px;
	flex-shrink: 0; /* Prevent shrinking */
}

.toolbar a:hover {
	background-color: #fff;
	color: #000;
}

.toolbar a.active {
	background-color: var(--color-blue);
	color: #fff;
}

/* content */

#content {
	flex: 1; /* Fill the remaining space */
	overflow: auto; /* Add scrolling if needed */
	display: flex;
}

#content .overlay {
	position: absolute;
	bottom: 100px;
	right: 50px;
	width: 25%;
	outline: none;
	border: 0;
}

/* columns */

.column {
	width: 50%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* map */

.map {
	width: 100%;
	height: 100%;
}

.half {
	width: 50%;
}

.map .map-nav {
	position: absolute;
	z-index: 1;
	width: 40%;
	height: 15%;
	bottom: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.map .map-nav::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: -1;
	background-color: #384153;
	border-radius: 20px;
}

.map .map-nav .label {
	color: var(--color-white);
	font-size: x-large;
	text-align: center;
}

.float-left img {
	width: 100%;
}

.float-right img {
	width: 100%;
}

.map .map-nav img {
	height: 65%;
}

.map .left {
	left: 5%;
}

.map .right {
	right: 5%;
}

/* menu */

#menu {
	background: #000;
	position: absolute;
	z-index: 1;
	top: 87px;
	left: 10px;
	border-radius: 3px;
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-family: "Open Sans", sans-serif;
}

#menu a {
	font-size: 20px;
	color: #fff;
	display: block;
	margin: 0;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	text-align: left;
}

#menu a:last-child {
	border: none;
}

#menu a:hover {
	background-color: #fff;
	color: #000;
}

#menu a.active {
	background-color: var(--color-blue);
	color: #fff;
}

#menu a.active:hover {
	background: var(--color-blue);
}

#menu .box {
	float: left;
	height: 20px;
	width: 20px;
	margin-bottom: 15px;
	clear: both;
	margin-right: 10px;
}

/* info */

#info {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	text-align: center;
	color: var(--color-green);
	background: var(--color-black);
}

/* popup */

.maplibregl-popup-content {
	border-radius: 5px;
	padding: 7px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

/* commentary */

#commentary-panel {
	flex: 1 1 auto; /* take up remaining space */
	overflow-y: auto; /* scroll when needed */
	padding: 20px;
	min-height: 0; /* important for flex scrolling */
}

.commentary h1 {
	font-size: 24px;
}

.float-left {
	float: left;
	width: 50%;
	padding: 15px;
}

.float-right {
	float: right;
	width: 50%;
	padding: 15px;
}
